// Spicy boxes

.spicy-box {
  transition: all .2s ease-in-out;
  display: block;

  span {
    display: block;
  }

  .spicy-box__background {
    position: relative;
    background-color: $gray-darker;
    border: $border-thickness-default solid $gray-darker;
  }

  .spicy-box__foreground {
    position: relative;
    background-color: $white;
    border: $border-thickness-default solid $gray-darker;
  }

  &:hover {
    transform: scale(1.02);
    cursor: pointer;

    .spicy-box__background {
      // background-color: $blue;
      // border-color: $blue;
    }

    .spicy-box__foreground { }
  }
}

.spicy-box--post {
  @extend .spicy-box;
  margin-bottom: $spacing-default;
  display: block;
  padding-left: 15px;

  .spicy-box__background {
    width: 545px;
    height: 180px;
  }

  .spicy-box__foreground {
    padding: $spacing-default;
    top: -15px;
    left: -15px;
  }
}

.spicy-box--button {
  @extend .spicy-box;
  padding-left: 15px;
  margin-top: $spacing-default;
  display: block;
  text-transform: uppercase;
  font-size: $font-size-large;
  font-weight: 700;
  letter-spacing: 0.65px;
  width: 200px;
  transition: all .2s ease-in-out;
  color: $gray-darker;

  .spicy-box__background {
    width: 200px;
    height: 50px;
    background-color: $gray-darker;
  }

  .spicy-box__foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-align: center;
    top: -10px;
    left: -10px;
  }

  &:hover {
    // margin-left: 3px;

    .spicy-box__background {
      // background-color: $gray-darker;
    }
  }
}

.spicy-box--image-only {
  border: $border-thickness-default solid $gray-darker;
  width: 80%;
  background-image: url('/images/nba-nva.jpg');
  background-size: cover;
  height: 500px;
}
