// FLEX
body {
  overflow-x: hidden;
  max-width: 100%;
}

.spicy-header {
  display: flex;
  flex-direction: row;
  padding: $spacing-default;
  max-width: 100%;
}

.spicy-wrap {
  padding: 0 $spacing-default;
}

.spicy-hero--homepage {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: $spacing-large;
}

.spicy-posts--featured {
  width: 40%;
  padding-right: 5%;
  padding-top: $spacing-x-small;
  border-right: $border-thickness-default solid $gray-darker;

  a {
    color: $gray-darker;
    text-decoration: none;

    &:last-child {
      .spicy-box--post {
        margin-bottom: 0;
      }
    }
  }
}

.spicy-posts--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 2%;
}

.spicy-post--main__content {
  padding: 0 5%;
}

.spicy-post__title--main {
  font-size: $font-size-xxx-large;
}

.spicy-post__excerpt--main p {
  font-size: $font-size-large;
  font-weight: 400;
}
