h1, h2, h3, h4, h5, h6 {
  font-family: $metropolis;
  line-height: $line-height-default;
  margin: 0 0 $spacing-small;
  padding: 0;
  font-weight: 700;

  @include media-query($mobile) {
    line-height: 1.2;
  }

}

p {
  font-family: $metropolis;
  line-height: $line-height-default;
  margin: 0 0 $spacing-small;
  padding: 0;
  font-weight: 400;
}

a {
  font-family: $metropolis;
  text-decoration: none;
}
