
//
// VARIABLES
//

// Colors
$blue: #0173EC;
$slate: #556D7C;
$yellow: #F7E32A;


// Grays
$black: #000000;
$gray-darker: #1E1E1E;
$gray-dark: #393A3B;
$gray-medium: #8F8F8F;
$gray: #5D5D5D;
$gray-light: #F5F5F5;
$white: #FFFFFF;


// Font stacks
$helvetica: 'Helvetica', Arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;
$metropolis: 'Metropolis', sans-serif;


// Font sizes
$font-size-small: calc(14px);
$font-size-medium: calc(16px);
$font-size-large: calc(24px);
$font-size-x-large: calc(32px);
$font-size-xx-large: calc(42px);
$font-size-xxx-large: calc(80px);


// Line height
$line-height-default: 1.3;
$line-height-large: 1.7;


// Spacing
$spacing-x-small: 0.625rem;
$spacing-small: 1rem;
$spacing-default: 1.875rem;
$spacing-large: 3.75rem;
$spacing-x-large: 5rem;


// Border thickness
$border-thickness-default: 2px;


// Width of the content area
$content-width: 800px;
$mobile: 600px;
$desktop: 800px;

// Use media queries like this:
// @include media-query($mobile) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
